body{
    margin: 0px;
    background-color: whitesmoke;
}

a{
    text-decoration: none;
    color: inherit;
}

.AboutSection{
    margin: 20px;
    background-color: rgb(229, 242, 251);
    padding: 10px;

}

.MissionStatement{
    margin: 20px;
    background-color: rgb(229, 242, 251);
    padding: 10px;
}

.filler{
    height: 70px;
}
.navbar{
    display: flex;
    height: 70px;
    background-color: rgb(40, 40, 40);
    position: fixed;
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    
}


.left-nav{
    display: flex;
    width: 100%;
    flex: 1.3;
    margin-left:10px;    
    overflow: hidden;
    color: whitesmoke;
}

.left-anchor{
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 28px;
    z-index: 1;
    font-family: merriweather;
    width: 100%;
}

.right-nav{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-evenly;
    width: 100%;
    overflow: hidden;
    color: black;
}

.right-anchor{
    font-size: 20px;;
    display: flex;
    align-items: center;
    padding: 13px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 123px; 
    background-color: rgb(169, 169, 169);
    z-index: 1;
    font-family: merriweather;
}

.frontpage{
    width: 100%;
    z-index: -1;
}

.AboutSection{
    font-weight: bold;
}

.projectcategories{
    background-color: rgb(73, 72, 72);
    padding: 10px 20px 30px 25px; 
    color: whitesmoke;
}

.ProjectsArea{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.projects{
    margin: 7px;
    height: 250px;
    display: grid;
    grid-template-rows: 150px 1fr;
    color: black;
}

.ProjectThumbnailContainer{
   
  
    width: 100%;
    background-color: grey;
}


.test{
    overflow: off;
    max-height: 100%;
    background-color: grey;
}

.ProjectDescription{
    max-height: 100%;
    background-color:rgb(185, 222, 248);
    font-weight: bold;
    font-size: 20px;
}

.left-anchor:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 30px;
}

.right-anchor:hover{
    background-color: rgb(229, 242, 251);
    color: black;
    font-size: 21px;
}

.projects:hover{
    box-shadow: 5px 5px black;
}

.test{
     
   height: 100%;
   width: 100%;
}

.ContactSection{
    background-color:rgb(222, 221, 221);
    display: flex;
    flex-basis: 100%;
    height: 140px;
    
}

.RightContactSection{
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    flex: 1;   
    
}



.TopRightContact{
 
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: merriweather;

}

.BottomRightContact{
  display: flex;
 
  justify-content: space-around;
  padding: 10px;
  text-align: center;
  
  
}

.LeftContactSection{
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    flex: 1;
}

.TopLeftContact{
  
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family: merriweather;
}

.BottomLeftContact{
    
    text-align: center;
    padding: 10px;
}





@media (min-width: 914px){
    .ProjectsArea{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 735px){
    .ProjectsArea{
        grid-template-columns: 1fr 1fr;
        
    }
    .projects{
        height: 230px;
    }
}

@media(max-width: 453px){
    .logo{
        display: none;
    }
}

@media (max-width: 400px){
    .ProjectsArea{
        grid-template-columns: 1fr;
    }

    .projects{
        height: 280px;
    }

    .left-nav{
        margin-left: 0px;
    }

    .left-anchor{
        margin-left: 0px;
    }

    .left-anchor{
        font-size-adjust: 0.8;
    }
    .right-anchor{
        font-size-adjust: 0.8;
    }
}


@media (max-width: 880px){
    .right-nav {
      display: none;
    }
    .left-nav{
        justify-content: space-between;
    }
    .projects{
        grid-template-rows: 150px 1fr;
    }
}

@media(min-width: 1000px){
    .projects{
        grid-template-rows: 200px 1fr;
    }
}

@media(max-width: 400px){
    .projects{
        grid-template-rows: 200px 1fr;
    }
}

@media (min-width: 1400px){
    .projects{
        height: 340px;
        grid-template-rows: 260px 1fr;
    }
    
}
