body{
    background-color:rgb(222, 221, 221);
}

.ProjectImageArea{
    background-color: rgba(167, 183, 195, 0.57);

    height: 400px;
    display: flex;
    align-items: center;
    padding: 4px 30px 4px 20px;
    
}

.ProjectImages{
    display: flex;
    
    height: 300px;
    width: 90%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: 500px;
    
}

.LeftProjectArea{
    flex: 1;
    display: grid;
    justify-content: right;
    
}

.RightProjectArea{
    flex: 1;
    display: grid;
    
}

.BottomArea{
    background-color: rgba(167, 183, 195, 0.57);

}

@media(min-width: 901px){
    .ProjectImageArea{
        width: 800px;
        height: 500px;
        display: inline-flex;
        padding-left: 30px;
    }
    .LeftProjectArea{
        flex: 2;
    }
    .RightProjectArea{
        flex: 1;
        align-items: center;
        padding-left: 40px;
    }
    .ProjectImages{
        min-width: 600px;
        min-height: 400px;
    }
    .EntireThing{
        display: flex;
        justify-content: center;
    }
    .BottomArea{
        padding-top: 50px;
        padding-right: 30px;
    }
}


